.header-container{
    display: flex;
    justify-content: center;
}

.header{
    width: 975px;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.img-section{
    width: 300px;
    height: 185px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

.dp{
    border-radius: 50%;
    width: 168px;
    height: 168px;
}



.username{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}
.username h1{
    color: rgb(38,38,38);
    font-weight: 300;
    font-size: 28px;
    margin-right: 20px;
    margin-top: 0;
}
.postno{
    margin-top: 0;
}
.username button{
    width: 85px;
    height: 30px;
    font-weight: 600;
    color: rgb(38, 38, 38);
    background-color: transparent;
    font-size: 14px;
    border: 1px solid rgb(219,219,219);
    text-align: center;
}